* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0%;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

video {
    width: 700px;
    height: 400px;
}

.css-controls-video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.css-time-video {
    width: 700px;
}

.css-btn {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.css-mute-btn {
    background-image: url(images/volume_32x32.png);
}

.css-play-pause-btn {
    background-image: url(images/playbtn_32x32.png);
}

.css-full-screen-btn {
    background-image: url(images/fullscreen_32x32.png);
}