* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0%;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

video {
    width: 700px;
    height: 400px;
}

.css-controls-video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.css-time-video {
    width: 700px;
}